<div class="modal-header">
  <h5 class="modal-title">Font</h5>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div><label>Size:</label></div>
  <div><input type="number" [formControl]="fontSize" /></div>

  <div><label>Family:</label></div>
  <div>
    <select [formControl]="fontFamily">
      <option *ngFor="let family of fontFamilies" value="{{ family }}" [style.font-family]="family">
        {{ family }}
      </option>
    </select>
  </div>
  <hr />

  <p>Example: </p>
  <p [style.font-size.px]="fontSize.value" [style.font-family]="fontFamily.value">AbcXyz 1234567890</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="apply()">Apply</button>
  <button type="button" class="btn btn-outline-dark" (click)="ok()">Ok</button>
</div>